<AuthorizeView>
    <Authorized>
        <a href="/Profile">
            Profile
        </a>
        <a href="MicrosoftIdentity/Account/SignOut">
            Sign Out
        </a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn">
            Login
        </a>
    </NotAuthorized>
</AuthorizeView>
